$ps-navy: #22202c;
$ps-dark: #423d5e;
$ps-white: #ecdfdf;
$ps-true-white: #dfdfdf;
$ps-jeans: #61739b;
$ps-daisy: #d0d184;
$ps-highlight: #f5f4db;
$ps-offwhite: #d1e2e1;
$ps-red: #621919;
$ps-green: #3b9f59;
$ps-light-grey: #888888;
$ps-lighter-grey: #bbbbbb;
$ps-lightest-grey: #dddddd;
$ps-text-default: #2c3e50;

// muk hunt / wedding palette
$wedding-lavender: #906da7;
$wedding-cream: #fbfcf3;
$wedding-sage: #babca0;
$wedding-sage-dark: #717362;
$wedding-button: #9d8562;

// predictions
$ps-prediction-in-progress: #cecece;
$ps-prediction-correct: #b9d5b2;
$ps-prediction-incorrect: #eab0b0;

// buttons
$ps-button-green: #30934e;
$ps-button-green-shadow: #1c652f;
$ps-button-red: #9f1515;
$ps-button-red-shadow: #6b0c0c;
$ps-button-default: #5e5e5e;
$ps-button-default-shadow: #464646;
$ps-button-light-grey: #cecece;
$ps-button-light-grey-shadow: #777777;

// survivor
$survivor-ika: #4c67a2;
$survivor-taku: #ad6f47;
$survivor-vati: #43946c;
$survivor-kulakula: #8261b6;
$survivor-koka: #2c60d2;
$survivor-vesi: #d22c2c;
$survivor-baka: #e7e75e;
$survivor-gaia: #71c5b6;
$survivor-ratu: #ff9f48;
$survivor-soka: #82e478;
$survivor-tika: #d4b0f0;
$survivor-vava: #1d1717;
$survivor-vava-2: #fc4a50;
$survivor-gata: #ffe74d;
$survivor-luvo: #e33f3f;
$survivor-tuku: #30a3d2;
$survivor-beka: #9730d2;
$survivor-beka-2: #3050d2;
$survivor-vula: #6bc539;
$survivor-lagi: #ac30c9;
$survivor-civa: #fc842f;
